
//=========== 1. APP ================ (ogolne style dla całej apki)

.app-body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  .app-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 245px 1fr;
    grid-template-rows: 85px calc(100vh - 85px);
    grid-template-areas: "head head" "nav app";
    grid-gap: 0;
  }

  .hidden-label {
    position: absolute;
    left: -99999999999999px;
  }

  .btn { // ~~~~~~~~~~ BUTTONY ~~~~~~~~~
    display: block;
    background-color: $colorOrange;
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    &--big {
      width: 126px;
      height: 38px;
    }

    &--fontawesome {
      background-color: transparent;
      width: auto;
      height: auto;
    }
  }
}


//=========== 2. APP HEADER ================ (style headera appki)

.app-header {
  grid-area: head;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  background: $colorText;
  padding-left: 20px;
  padding-right: 42px;
  box-shadow: inset 0 -8px 10px -10px black;


  // .app-header__title {
  // }

  .app-header__user {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      color: inherit;
      text-decoration: inherit;
    }

    i {
      font-size: 42px;
      color: $colorOrange;
    }
  }

  .app-header__name {
    font-size: 28px;
    margin-right: 22px;
  }

  .app-header__icon {
    width: 40px;
    height: 40px;
  }
}


//=========== 3. APP NAV ================= (style nawigacji appki)
.app-nav {
  grid-area: nav;
  background-color: $colorNav;
}

// .app-nav__item {

// }

.app-nav__link {
  display: block;
  padding: 26px 20px;
  font-size: 22px;
  text-decoration: none;
  color: inherit;
  position: relative;
  border-left: 0 solid $colorOrange;
  transition: .2s;
  box-sizing: border-box;
}

.app-nav__link--active, .app-nav__link:hover {
  border-left: 6px solid $colorOrange;
  padding-left: 14px;
}

.app-nav__link--active {
  font-weight: 700;
}


.app-nav__link--active::after {
  content: '\003E';
  color: $colorOrange;
  display: block;
  position: absolute;;
  right: 10px;
  bottom: 50%;
  transform: translateY(50%);
}

//=========== 3.Widgety  ================
@mixin notification($color) {
  color: $color;
  background-color: white;
  border: 1px dashed $color;
  padding: 10px;
  margin-bottom: 6px;
  font-size: 14px;
  width: 430px;
  font-weight: bolder;
}

.first__notification__info {
  @include notification(#3498DB);
}

.second__notification__plan {
  @include notification(#FFB03B);
}

.third__notification__presence {
  @include notification(#468966);
}

.btn__add__recipe {
  width: 90px;
  height: 90px;
  background: #fff;
  border: 1px dotted rgb(70, 137, 102);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn__icon__plus {
  border: 3px solid rgb(70, 137, 102);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  border-radius: 4px;
}

.btn__icon__plus::before,
.btn__icon__plus::after {
  content: "";
  width: 3px;
  height: 70%;
  background: rgb(70, 137, 102);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn__icon__plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.btn__name__przepis{
  display: block;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  color: rgb(70, 137, 102);
}

.btn__name__plan {
  display: block;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  color: rgb(70, 137, 102);
}


//=========== 4. APP MAIN ================ (ogolne style okien aplikacji)
.app-main {
  grid-area: app;
  background-image: url("../images/app-background.png");
  padding: 30px 60px;
  color: $colorNav;

  .main-container {
    width: 100%;
    height: 100%;
  }


  .main__screen {
    width: 100%;
    height: 100%;
    display: none;
  }


  .main__screen--visible {
    display: block;
  }


  // -------------- 4.1 Style okna newUser (pierwszy raz w aplikacji) ----
  .main__screen--newUser {
    background-color: $colorBackg;
    border: 1px dashed $colorTabText;

    .newUser__content {
      width: 407px;
      margin: 80px auto auto auto;
      justify-content: center;
      text-align: center;

      h2 {
        font-size: 30px;
      }

      p:nth-of-type(1) {
        font-size: 24px;
      }

      p:last-of-type {
        font-size: 20px;
      }
    }

    .newUser__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input[type='text'] {
        width: 288px;
        height: 30px;
        font-size: 14px;
        padding: 0 10px 0 10px;
      }

    }
  }
//------------------- 4.1 Dodawanie przepisu

.main__screen--addRecipe {
  margin-top: 40px;
  display: block;
}

.main__recipes-header{
  margin-bottom:  -20px;
  display: flex;
  justify-content: space-between;
}
.main__recipes-h2{
  box-sizing: border-box;
  color: $colorOrange;
  
}
.main__recipes-button{
  height: 50px;
  width: 180px;
  background: $colorOrange;
  color: $colorBackg;
  font-size: 20px;
  
}
//---



.main__recipes-info{
 
  display: flex;
  flex-direction: column;
  margin: 5px 0 10px;
}
//---
.main__recipes-lists{
  display: flex;  
}

.main__recipes_add{
  flex-direction: column;
  position: relative;
  height: 50px;
  margin:auto;
  width: 48%;
  i{position: absolute;
    
    margin: 5px;
    color: #468966;
    font-size: 32px;
  }
}

.main__screen_order-list,
.main__screen_unorder-list{
  margin: 0;
  max-height:150px;
  overflow-y: scroll;
}


  // -------------- 4.2 Style okna dashboard (powracający do aplikacji) ----


  .week__plan__container {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .week__plan__header {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      color: #FF6600;
    }
  }

  .week__plan {
    //visibility: visible;
    width: 90%;
  }

  .week__plan__table {
    border-collapse: collapse;
    width: 100%;
  }

  thead {
    font-size: 20px;
    font-weight: 700;

    .table__header {
      border-top: 1px solid #A1A194;
      border-bottom: 1px solid #A1A194;
    }

    td {
      color: black;
      padding: 10px;
    }
  }

  .food__plan {
    font-size: 15px;

    tr {
      border-bottom: 1px solid #A1A194;
    }

    td {
      color: #A1A194;
      padding: 10px;
    }
  }


  .switch__buttons {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .button_previous, .button_next {
      border: none;
      background: transparent;
      color: #FF6600;
      font-weight: 600;
    }
  }

  .switch__buttons {
    .arrow_left {
      border: 1px solid #FF6600;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

    .arrow_right {
      border: 1px solid #FF6600;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}



