

//======== COLORS ========
$colorNav: #5B605F; // panel boczny, nawigacja
$colorText: #4a4a49; // nagłówek, , kolor tekstu w kolumnach
$colorOrange: #FF6600; // przyciski, wyróżnienia, nagłówki ekranów
$colorBackg: #FFFFFA; // kolor tła ekranów
$colorInfo: #3498DB; // kolor wiadomości typu info,
$colorWarn: #FFB03B; // kolor wiadomości typu warning
$colorSuccess: #468966; // kolor wiadomości typu success
$colorTrash: #BD4932; // kolor ikony kosza
$colorTabText: #A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$colorFocus: #add8e6; //kolor po podświetleniu formularzy
$colorTabBorder: #CBCBCB; // kolor ramek w tabelach


// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass

@import "app";
@import "saved-lists";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/brands.scss";


@font-face {
  font-family: 'charmonmanbold';
  src: url('../Fonts/charmonman-bold-webfont.woff2') format('woff2'),
  url('../Fonts/charmonman-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charmonmanregular';
  src: url('../Fonts/charmonman-regular-webfont.woff2') format('woff2'),
  url('../Fonts/charmonman-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../Fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('../Fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'open_sans_lightregular';
  src: url('../Fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../Fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'open_sansregular';
  src: url('../Fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../Fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: $colorBackg;
  margin: 0;
  padding: 0;
}

.newsletter__container {
  background: #4a4a49;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
}


.newsletter__text {
  h3 {
    color: white;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
  }
}


.newsletter__form {
  display: flex;
  justify-content: center;
  flex-direction: row;

  input {
    width: 200px;
    height: 30px;
    padding: 0;
    border: none;
  }

  .newsletter__submit {
    background: #FF6600;
    border: none;
    width: 150px;
    height: 30px;
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
  }
}

.newsletter__form > input {
  &:focus {
    background-color: $colorFocus;
  }
}

.newsletter__submit {
  &:focus {
    border: 1px solid $colorFocus;
  }
}

.about__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-family: 'Open Sans';
}

.about__box {
  margin: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #4a4a49;

}

.box__image--check {
  height: 60px;
  width: 60px;

  i {
    font-size: 60px;
  }
}


.box__image--clock {
  height: 60px;
  width: 60px;

  i {
    font-size: 60px;
  }
}

.box__image--menu {
  height: 60px;
  width: 60px;

  i {
    font-size: 60px;
  }
}

.about__box > h1 {
  text-align: center;
}


.box__text {
  line-height: 25px;
  text-align: center;
}


.author__container {
  margin: 0 auto;
  font-family: 'Open Sans';
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

.author__picture {
  margin: 40px 0;
  background: #4a4a49;
  width: 300px;
  height: 300px;
}

.author__info {
  margin: 40px 0;
  width: 40%;
  color: #4a4a49;

  h3 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .author__info--text {
    line-height: 25px;
  }
}



.section__call{
  margin: 0;
  background: #5B5C5B;
  width: 100%;
  height: 200px;
  display: flex;

  justify-content: space-between;

}
.section__call_text{
  box-sizing: border-box;
  justify-content:center;
  color: #EBEBEB;
  padding: 50px;
}
.button__call_action{
  background: #F2652D;
  color:#EBEBEB;
  box-sizing: border-box;

  width: 200px;
  height: 50px;
  margin: auto;
  margin-right: 50px;
} 


.header__container {
  background-color: #4a4a49;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  width: 40%;
  margin-left: 50px;
  font-family: 'charmonmanregular', cursive;
  font-weight: lighter;
}

.logo__header {
  color: white;
}

.logo__second__word {
  color: #E58A20;
}

.menu__header {
  width: 60%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.menu__list {
  margin: 0;
  padding: 0;
}

.menu__element {
  list-style-type: none;
  display: inline-block;
}

.menu__element {
  width: calc(100% / 4 - 10px);
}

.menu__link {
  text-decoration: none;
  color: white;
}

.link__first {
  color: #E58A20;

}


.slides {
    background: #EBEBEB; 

    padding: 0;
    width: 100%;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * { //compatibility to another browsers
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 400px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
   
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 400px;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 2px; //position on dots 
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3
 {
	background: rgba(0, 0, 0, 0.8);
}








.footer__big__container {
  background-color: #4a4a49;
}

.footer__top__container {
  //width: calc(100% / 3 - 30px);
  //height: 200px;
  ////float: left;
  //justify-content: space-between;
  //align-items: center;
  //color: white;
  //font-family: 'Open Sans', Arial, sans-serif;
  //padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 50px;
}


.footer__small__container {
  width: 30vw;
  justify-content: right;
  align-items: center;
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 0 25px;
}

.footer__submit {
  display: inline-block;


  input {
    background-color: white;
    color: black;
    padding: 0;
    height: 29px;
    margin: 0;
    width: 65%;
  }

  button {
    background-color: #E58A20;
    color: white;
    font-size: 20px;
    width: 30%;
    height: 30px;
    border: 1px solid #E58A20;
    padding: 0;
    margin: 0;
    text-align: center
  }
}

.footer__media {
  height: 60px;
  width: 230px;
  display: flex;
  justify-content: space-around;


  .fab {
    margin-top: 20px;
    height: 30px;
    color: white;
    font-size: 30px;


  }
}


.footer__copy__container {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;

}

.copyright__footer {
  color: white;
  background-color: (#464646);
  text-align: center;
  padding: 15px;
  margin: 0;
}


.www__footer {
  color: #E58A20;
}




