// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass
@font-face {
  font-family: 'charmonmanbold';
  src: url('../Fonts/charmonman-bold-webfont.woff2') format('woff2'),
  url('../Fonts/charmonman-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charmonmanregular';
  src: url('../Fonts/charmonman-regular-webfont.woff2') format('woff2'),
  url('../Fonts/charmonman-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../Fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('../Fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'open_sans_lightregular';
  src: url('../Fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../Fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'open_sansregular';
  src: url('../Fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../Fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #BADA55;
}

.header__container {
  background-color: #4a4a49;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__container {
  width: 40%;
  margin-left: 50px;
  font-family: 'charmonmanregular', cursive;
  font-weight: lighter;
}
.logo__header {
  color: white;
}
.logo__second__word {
  color: #E58A20;
}
.menu__header {
  width: 60%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: bolder;
}
.menu__list{
  margin: 0;
  padding: 0;
}
.menu__element {
  list-style-type: none;
  display: inline-block;
}

.menu__element {
  width: calc(100% / 4 - 10px);
}

.menu__link {
  text-decoration: none;
  color: white;
}

.link__first {
  color: #E58A20;

}

//.footer__top__container {
//  height: 200px;
//}

.footer__big__container {
  background-color: #4a4a49;
}
.footer__top__container {
  //width: calc(100% / 3 - 30px);
  //height: 200px;
  ////float: left;
  //justify-content: space-between;
  //align-items: center;
  //color: white;
  //font-family: 'Open Sans', Arial, sans-serif;
  //padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 50px;
}


.footer__small__container {
  width: 30vw;
  justify-content: right;
  align-items: center;
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 0 25px;
}

.footer__submit {
  display: inline-block;
}
input {
  background-color: white;
  color: black;
  padding: 0;
  height: 29px;
  margin: 0;
  width: 65%;
 }
 button {
  background-color: #E58A20;
  color: white;
   font-size: 20px;
   width: 30%;
   height: 30px;
   border: 1px solid #E58A20;
   padding: 0;
   margin: 0 ;
   text-align: center
}

.footer__media {
  height: 60px;
  width: 230px;
  .fab {
    height: 30px;
    color: white;
    font-size: 25px;
  }
}


.footer__copy__container {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;

}

.copyright__footer {
    color: white;
  background-color: (#464646);
  text-align: center;
  padding: 15px;
}
.www__footer {
    color: #E58A20;
}



